{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <!-- here, we're using method override in order to send a PUT request -->
    <form action="/aliens/{{ alien.id }}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit New Alien Species</legend>
            <label class="form-label">Name:</label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter alien name"
                class="form-control"
                value="{{ alien.name }}"
            >
            <label class="form-label">Planet:</label>
            <input 
                type="text" 
                name="planet" 
                placeholder="enter planet origin"
                class="form-control"
                value="{{ alien.planet }}"
            >
            <label class="form-label">Date Discovered:</label>
            <input 
                type="text" 
                name="discovered" 
                placeholder="enter date of discovery"
                class="form-control"
                value="{{ alien.discovered }}"
            >
            <label class="form-label">Ready To Eat: </label>
            <input 
                type="checkbox" 
                name="friendly"
                class="form-check-input"
                {% if alien.friendly %}
                    checked
                {% endif %}
            >
        </fieldset>
        <input type="submit" class="btn btn-success" value="Edit {{ alien.name }}">
    </form>
</div>
{% endblock %}
