{% layout 'layout.liquid'%}
{% block content %}
    {% if aliens.length > 0 %}
        <div >
            <h2 class="display-6">All aliens</h2>
            <div class="row">
                {% for alien in aliens %}
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-header">{{ alien.species }}</h5>
                        <div class="card-body">
                            <h6 class="card-title">
                                {% if alien.friendly %}
                                    Friendly
                                {% else %}
                                    Not Friendly
                                {% endif %}
                            </h5>
                            <p class="card-text"> 
                                The homeworld of the {{ alien.species }} is {{ alien.planet }}
                            </p>
                            <p class="card-text">
                                The {{ alien.species }} were discovered in {{ alien.discovered }} AD
                            <br>
                            <a href="/aliens/{{ alien.id }}" class="btn btn-info">
                                View {{ alien.species }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div>
            <h2 class="display-6">No aliens here yet... <br>time to add some!</h2>
        </div>
    {% endif %}
{% endblock %}
